body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section-1{
    background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(/donate-today-main/donate-today-main/images/donation4.jpg);
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    background-color: #fff;
    opacity: 0.9;
    padding: 50px; 
    height: 530px;    
}

.first-section{
    padding: 100px;
    padding-top: 15px;
    width: 10;
    box-sizing: border-box;  
}
.first-section h1{
    font-family: 'Anton', sans-serif;
    color: rgb(255, 254, 253);
    font-size: 40px;
    width: 80%;
    margin: 50px 30px 0 125px;
    box-sizing: border-box;
    text-align: center; 
    padding: 30px 30px 30px 100px ;
    letter-spacing: 10px;

}
.first-section p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    color: rgb(221, 171, 135);
    margin: 20px 50px 45px 120px;


}
.button-donate-now{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(207, 88, 67));
    border-radius: 5px;
    padding: 15px;
    background-color: green;
    margin: 40px 50px 0px 27rem;
    color: white;
    font-size: 20px;
    font-weight: 700;   
}
.donate-today{
    text-align: center;
    margin: 100px;
}
.donate-today h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace
}
.donate-today p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    opacity: 0.7;
    color: rgba(70, 68, 68, 0.993);
    text-align: center;
    margin: 0 50px 0 230px;
}
.donate-amount{
    width: 50%;
    padding: 20px;
    margin: -100px 50px 0px 20rem;      
}
.donate-amount ul{
    list-style: none;
    display: flex;
    
    
}
.donate-amount ul li{
    text-align: center;
    padding: 30px 10px 0 10px;
    font-size: 30px;
    font-weight: 700;
    color: gray;
    border-radius: 5px;
    margin: 10px;
    background-color: rgba(255, 228, 196, 0.233);
    width: 100px;
    height:80px;
    font-style: italic;
    
      
}
#selected-amount{
    border: 2px solid rgba(255, 0, 0, 0.678);
    background-color: rgba(255, 228, 196, 0.979);
    color: rgba(255, 0, 0, 0.555);
    
}
.other-amount{
    width: 50%; 
}
#other-amount-input{
    text-align: center;
    width: 80%;
    margin: 10px 50px 20px 25rem;
    border: none;
    border-bottom: 2px solid antiquewhite;
}

.donate-now{
    padding-left: 140px;
    margin: 20px 0 0 29rem;     
}
.donate-now a{
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    background-image: linear-gradient(orange,rgb(207, 88, 67));
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.our-donation-plan{
    width: 95%;
    padding: 20px;
    margin-top: 3rem;
}
.our-donation-plan .section-header{
    text-align: center;

}
.our-donation-plan .section-header h1{
    font-size: 40px;
    margin-left: 5px;
    
}
.our-donation-plan .section-header p{

    width: 50%;
    margin: 0 0 0 22rem;
    font-size: 20px;
    color: gray; 
}
.donation-plan{
    display: flex;
    margin: 0px;
}
.food-for-family{
    background-color: burlywood;
    width: 300px;
    height: 300px;
}
.shelter-for-family{
    background-color: burlywood;
    width: 300px;
    height: 300px;
}
.education-for-child{
    background-color: burlywood;
    width: 300px;
    height: 300px;
}

